body {
    font-family: Arial, sans-serif;
    background-color: #BF9397;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #D8D7D9;
   
    border-radius: 5px;
    text-align: left;
}

h1 {
    
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #BF9397;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #BF9397;
}

.hidden {
    display: none;
    color: red;
}
