/* Fonts */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7A9FBF;
}
#content {
    background-color: gray;
    width: 75%;
    margin: auto;
    padding: 5px;
}

#links a{

    color:#F2D4C2
}

p{
    color:#F2D4C2
}
h1{
    color:#F2D4C2
}
h2{
    color:#D9A171
}
strong{
    color:#73412F
}


