/* Structure*/

#main-header {
    background-color: blanchedalmond;
}
.col1of2 {
    background-color: blanchedalmond;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}
.col1of3,.col2of3{
    background-color: palevioletred;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-footer{
    background-color:blanchedalmond;
    padding: 5px;
}



.main1{
    background-color: palevioletred;
    margin-right: 100px;

}

.main2{
    background-color: blanchedalmond;
    padding-left: 100px;
    padding-right: 150px;
   p{
    text-align: left;
   }
    
}




/*Navigation*/
#main-nav ul{
    padding-left:0;
    text-align: center;
}

#main-nav li{
    list-style-type: none;
    padding: 5px;
    background-color: palevioletred;
    border-bottom: 1px solid blanchedalmond
}

#main-nav a {
    text-decoration: none;
    color:black
}

/* Typograph */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
#main-header h1{
    text-align: center;
}



#main-footer h5{
    text-align: center;
}

#main-footer p{
    text-align: right;
}


img{
    margin-left: 92px;
    margin-right: 92px;
}

.container{
    display: flex;
    align-items: center;
    padding-left: 1px;
}

/*Larger Resolutiond*/
@media (min-width:900px) {
   #main-nav ul, .flex-container{
    display:flex;
   }

   
    #main-nav li,.col1of2,.col1of3{
        flex: 1;
    }
    .col2of3,.main1{
        flex:2;
    }
}

