
body {
    background-color: #D8D7D9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.jewelry-item {
    background-color: #BF9397;
    border: 1px solid #A67C49;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 250px;
    height: 400px; 
    text-align: center;
    overflow: hidden; 
}

.jewelry-item img {
    max-width: 100%;
    max-height: 70%;
    display: block; 
    margin: 0 auto;
}


.text-section {
    background-color: #BF9397;
    text-align: left;
    padding: 10px;
    height: 100%; 
    box-sizing: border-box; 
}


.text-section h2 {
    color: #A67C49;
    margin: 0; 
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.text-section p {
    color: #000; 
}




.jewelry-list {
    text-align: center;
}


#topbar{
    padding-left: 3%;
}

#topbar h1,#topbar h3{
    margin:0;
}
#topbar h1{
    font-size: 50px;
    padding-right: 18%;
    color: #BF8C2C ;
}

#home{

    left:6%;
    height: 75px;
    width: 70px;
    top:1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #BF8C2C;
    background-color: #D8D7D9;
    }

    
    a{
        font-size: 30px;
        text-decoration: none;
        color: #BF8C2C;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


/*Larger Resolutiond*/
@media (min-width:900px) {
    #main-nav ul, .flex-container{
     display:flex;
    }
 
    #topbar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #prices{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #buttonsinc{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
     #main-nav li{
         flex: 1;
     }

     .flex-container2{
        display:flex;
       flex-wrap: wrap;
    justify-content: center;
       }
       .row1{
           flex:3;
           
       }
    
 }

 /*Larger Resolutiond*/
@media (max-width:768px) {
    #main-nav ul, .flex-container{
     display:flex;
    }
 
    #topbar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #prices{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #buttonsinc{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
     #main-nav li{
         flex: 1;
     }

     .flex-container2{
        display:flex;
       flex-wrap: wrap;
    justify-content: center;
       }
       .row1{
           flex:3;
           
       }
}